@import "./assets/sass/variables";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  .image {
    width: 100%;
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("./assets/images/background-pattern-mobile.svg");
    @media screen and (min-width: 488px) {
      background-image: url("./assets/images/background-pattern-desktop.svg");
    }
  }
  article {
    margin: -10rem 2rem 0;
    background-color: $white;
    padding: 1.5rem;
    max-width: 500px;
    border-radius: 0.8rem;
    .title {
      display: flex;
      align-items: center;
      gap: 1rem;
      img {
        width: 30px;
        height: auto;
      }
      h2 {
        font-weight: 700;
        font-size: 3rem;
      }
    }
  }
}
