@import "./assets/sass/variables";
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-family: "Work Sans";
  line-height: 1.5;
  font-weight: 400;
  color: hsl(292, 42%, 14%);
  background-color: $light-pink;
}

a {
  color: inherit;
  text-decoration: inherit;
}
